@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.5
  font-family: $default-font
  overflow-x: hidden
  color: $text
  letter-spacing: 0.05em
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent
  text-decoration: none

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======
.container-large
  width: 100%
  max-width: 1660px
  margin-left: auto
  margin-right: auto

.btn
  display: inline-block
  white-space: nowrap
  min-width: 165px
  +mt(.3s)
  cursor: pointer
  text-transform: uppercase
  font-family: "Rex", sans-serif
  font-weight: 700
  text-align: center
  padding: 14px 0 12px
  border-width: 2px
  border-style: solid
  line-height: 1


.btn-accent
  background-color: $accent
  color: $text
  border-color: $accent
  &:hover
    background-color: transparent
    color: #fff

.btn-transparent
  background-color: transparent
  color: #fff
  border-color: $accent
  &:hover
    background-color: $accent
    color: #fff

.vk-item
  .svg
    transform: scale(.8)

.section-notice
  font-size: 14px
  font-family: "Rex", sans-serif
  font-weight: 700

.section-title
  font-family: "Rex", sans-serif
  font-weight: 700
  color: $accent
  font-size: 41px
  margin-bottom: 0


